body{
  background-image: url("img/slider2.jpg");
  background-size: cover;
  z-index: 2;
}

div{
   float: right;
   width: 550px;
   height: 550px;
   background-color: white;
   margin: auto 5px;

   position: relative;
   z-index: 1;
}

h1{
  text-align: right;
  font-size: 18px;

}

p{
  font-size: 12px;
  text-align: right;
}
